html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(156, 153, 155);
}

section {
  flex: 1;
  padding: 15px;
}

header {
  /* background-image: url(/images/cake.webp); */
}
#my-picture {
  padding: 5px;
  width: 108px;
  height: 108px;
}
header img {
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #ffffff90;
}
#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(90deg, #8b8488, transparent);
}
#header-info {
  padding: 10px;
  text-shadow: 1px 1px 2px #e5dcdc;
}

h1 {
  color: rgb(247, 238, 238);
  margin: 5px 0;
  /* font-weight: 300px;
  font-size: 1.8em; */
}
h2,
h3 {
  color: black;
  margin: 5px 0;
  font-weight: 300px;
  font-size: 1.2em;
}

#birthdayTable {
  width: 100%;
  border-collapse: collapse;
}
#birthdayTable th,
#birthdayTable td {
  border: 1px solid rgb(129, 121, 129);
  padding: 5px;
  line-height: 30px;
  color: rgb(109, 98, 98);
}
#birthdayTable th {
  color: rgb(240, 230, 230);
  font-size: 1.4rem;
  background-color: #490c32;
}

#birthdayTable tr:nth-child(even) {
  background-color: #f2f2f2;
  color: #094b0e;
}

#birthdayTable input {
  width: 100%;
}
#birthdayTable tfoot input:not([type="image" i]) {
  box-sizing: border-box;
}

.table-actions {
  width: 90px;
}

.tbar {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.tbar label {
  padding: 0 5px;
}

.tfill {
  flex: 1;
}
.action-btn {
  cursor: pointer;
  min-width: 35px;
}

.edit-btn {
  display: none;
  color: #094b0e;
}

.delete-btn {
  display: none;
  color: #ea1010;
}

#birthdayTable tr:hover .action-btn {
  display: inline-block;
}

footer {
  background-color: rgb(148, 131, 141);
  color: #fff;
  text-align: center;
  padding: 7px;
}
.mark {
  background-color: #947688;
}
